* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

footer li {
    list-style: none;
    display: inline;
    margin: 1rem;
}
